<div [formGroup]="form1">
<mat-input-container>
  <input matInput fxFill type="text"  placeholder="Address"  formControlName="address1" >
</mat-input-container>
<mat-input-container>
  <input matInput fxFill type="text"  placeholder="State" formControlName="state1" >
</mat-input-container>
<mat-input-container>
  <input matInput fxFill type="text"  placeholder="Country"  formControlName="country1" >
</mat-input-container>
<mat-input-container>
  <input matInput fxFill type="text" placeholder="Pincode" formControlName="pincode1">
</mat-input-container>
</div>
