<mat-form-field>
  <input matInput fxFill type="text" id="username" value="1" placeholder="Address"  [formControl]="address" >
</mat-form-field>
<mat-form-field>
  <input matInput fxFill type="text" id="username" value="1" placeholder="State" [formControl]="state" >
</mat-form-field>
<mat-form-field>
  <input matInput fxFill type="text" id="username" value="1" placeholder="Country"  [formControl]="country" >
</mat-form-field>
<mat-form-field>
  <input matInput fxFill type="text" id="username" value="1" placeholder="Pincode" [formControl]="pincode">
</mat-form-field>

